.red {
    color: red;
}

.green {
    color: green;
}

.show {
    display: block;
}

.hide {
    display: none;
}
.displayin4Container{
    .red {
        color: purple;
    }
    
    .green {
        color: green;
    }
    img {
        width:400px;
    }
}